.venv-webServer/*
.vscode/*
webServer/__pycache__/*
Server.code-workspace
Server.code-workspace.lock.json
db.sqlite
webSever/webManagement/__pycache__/__init__.cpython-310.pyc
webSever/webManagement/auth/__pycache__/auth.cpython-310.pyc
webSever/__pycache__/main.cpython-310.pyc
webSever/__pycache__/models.cpython-310.pyc
webSever/__pycache__/__init__.cpython-310.pyc
webServer/pythonInterface/__pycache__/models.cpython-310.pyc
webServer/webManagement/auth/__pycache__/auth.cpython-310.pyc
webServer/pythonInterface/__pycache__/api.cpython-310.pyc
migrations/versions/__pycache__/*
webServer/webManagement/__pycache__/__init__.cpython-310.pyc
migrations/*
migrations
migrations/alembic.ini
migrations/env.py
migrations/README
.env
webServer/dataManagment/__pycache__/management.cpython-310.pyc
webServer/dataManagment/__pycache__/models.cpython-310.pyc
webServer/webManagement/admin/__pycache__/core.cpython-310.pyc
__pycache__/run.cpython-310.pyc
tests/__pycache__/__init__.cpython-310.pyc
tests/__pycache__/conftest.cpython-310-pytest-7.1.2.pyc
tests/functional/__pycache__/test_auth.cpython-310-pytest-7.1.2.pyc
tests/functional/__pycache__/__init__.cpython-310.pyc
tests/unit/__pycache__/test_models.cpython-310-pytest-7.1.2.pyc
.env
webServer/dev.sqlite
webServer/test.sqlite
.env
__pycache__/config.cpython-310.pyc
.coverage
webServer/webManagement/__pycache__/manageData.cpython-310.pyc
tests/unit/__pycache__/*
webServer/dataManagment/__pycache__/*
webServer/codeManagement/__pycache__/gitUpdate.cpython-310.pyc
tests/functional/__pycache__/test_webManagement.cpython-310-pytest-7.1.2.pyc
webServer/webManagement/Untitled-1.sql
webServer/mandelbrot/__pycache__/mandelbrotPages.cpython-310.pyc
webServer/mandelbrot/__pycache__/*
flask_session/*
webServer/sessions/*
webServer/authHandling/__pycache__/*
