.venv-webServer/*
.vscode/*
webServer/__pycache__/*
Server.code-workspace
Server.code-workspace.lock.json
db.sqlite
webSever/webManagement/__pycache__/__init__.cpython-310.pyc
webSever/webManagement/auth/__pycache__/auth.cpython-310.pyc
webSever/__pycache__/main.cpython-310.pyc
webSever/__pycache__/models.cpython-310.pyc
webSever/__pycache__/__init__.cpython-310.pyc
migrations/versions/__pycache__/9a928a9fef06_add_admin.cpython-310.pyc
migrations/versions/9a928a9fef06_add_admin.py
migrations/__pycache__/env.cpython-310.pyc
migrations/script.py.mako
