.venv-webServer/*
.vscode/*
webServer/__pycache__/*
Server.code-workspace
Server.code-workspace.lock.json
db.sqlite
webSever/webManagement/__pycache__/__init__.cpython-310.pyc
webSever/webManagement/auth/__pycache__/auth.cpython-310.pyc
webSever/__pycache__/main.cpython-310.pyc
webSever/__pycache__/models.cpython-310.pyc
webSever/__pycache__/__init__.cpython-310.pyc
webServer/pythonInterface/__pycache__/models.cpython-310.pyc
webServer/webManagement/auth/__pycache__/auth.cpython-310.pyc
webServer/pythonInterface/__pycache__/api.cpython-310.pyc
migrations/versions/__pycache__/*
webServer/webManagement/__pycache__/__init__.cpython-310.pyc
migrations/*
migrations
migrations/alembic.ini
migrations/env.py
migrations/README
