{% extends 'layout.html' %}
    
{% block body %}
    <script>
      // This function toggles the form to edit the name and description of the data
      function toggleForm() {
      var name = document.getElementById("Name");
      var dataJson = document.getElementById("dataJson");
      var form = document.getElementById("form");
      var toggleButton1 = document.getElementById("toggleButton1");
      var toggleButton2 = document.getElementById("toggleButton2");
        

      if (name.style.display === "none") {
        name.style.display = "inline";
        dataJson.style.display = "inline";
        form.style.display = "none";
        toggleButton1.style.display = "inline";
        toggleButton2.style.display = "inline";

      } else {
        name.style.display = "none";
        dataJson.style.display = "none";
        form.style.display = "inline";
        toggleButton1.style.display = "none";
        toggleButton2.style.display = "none";

      }
    }
    </script>
    <!-- This is the form to edit the name and description of the data -->
    <h1 style="display:inline" id="DataId">Data ID: {{ data.id }}</h1>
    <p></p>
    <h1 style="display:inline" id="Name">{{ data.name }}</h1> <i style="display:inline" id="toggleButton1" class='fas fa-edit' onclick="toggleForm()"></i>
    <p id="toggleButton1"></p>
    <h4 style="display:inline" id="dataJson">{{ data.dataJson }}</h4> <i id="toggleButton2" class='fas fa-edit' onclick="toggleForm()"></i> 
    <p id="toggleButton1"></p>
    <div>
      {% from "includes/_formhelpers.html" import render_field2 %}
      <form style="display:none" id="form" method="POST" action="">
        <div class="form-group">
          <h1 style="display:inline">{{render_field2(form.name, class_="form-control")}}</h1>
          <p></p>
          <h4 style="display:inline">{{render_field2(form.dataJson, class_="form-control")}}</h4>
        </div>
        <p><input type="submit" class="btn btn-primary" value="Update"></p>
      </form>
    </div>
    <!-- This is the table to display the auth tokens -->
    <table id="authTokens" class="table table-striped">
        <thead>
          <!-- Headings of the Columns-->
          <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Auth Token</th>
            <th>Delete Auth Token</th>
          </tr>
        </thead>
        <tbody>
          <!-- Loop through the auth tokens and display them -->
          {% for token in data.authTokens%}
            <tr>
              <td>{{ token.id }}</td>
              <!-- This is the form to edit the type of the auth token -->
              <form id="form{{ token.id }}" method="POST" action="/authToken/{{ token.id }}/update">
              <td>{{ render_field2((forms[token.id]).tokenType, class_="form-control") }}</td>
              </form>
              <script>
                let type_select{{ token.id }} = document.getElementById("select{{ token.id }}");
                let form{{ token.id }} = document.getElementById("form{{ token.id }}");
                type_select{{ token.id }}.onchange = function func{{token.id}}() {
                  form{{ token.id }}.submit();
                }
              </script>
              <td>
                  {{ token.authToken }}
              </td>
              <td>
                <form action="/authToken/{{ token.id }}/delete" method="post">
                  <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- This is the button to add a new auth token -->
      <form action="/data/{{data.id}}/new" method="post">
        <button type="submit" class="btn btn-primary">Add Auth Token</button>
    </form>
     {% endblock %}

