{% extends 'layout.html' %}
    
{% block body %}
    <h1>Your Projects</h1>
    <table id="projects" class="table table-striped">
        <thead>
          <tr>
            <th>Project</th>
            <th>pythonDataId</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
            <tr>
              <td><a href="/projects/{{ project.id }}" >{{ project.name }}</a></td>
              <td>
                  {% for data in project.pythonData %} 
                    {{ data.id }}
                  {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}

