{% extends 'admin_layout.html' %}
    
{% block body %}
<script>
  // This function toggles the form to edit the name and description of the project
  function toggleForm() {
  var name = document.getElementById("Name");
  var dataJson = document.getElementById("description");
  var form = document.getElementById("form");
  var toggleButton1 = document.getElementById("toggleButton1");
  var toggleButton2 = document.getElementById("toggleButton2");
    

  if (name.style.display === "none") {
    name.style.display = "inline";
    dataJson.style.display = "inline";
    form.style.display = "none";
    toggleButton1.style.display = "inline";
    toggleButton2.style.display = "inline";

  } else {
    name.style.display = "none";
    dataJson.style.display = "none";
    form.style.display = "inline";
    toggleButton1.style.display = "none";
    toggleButton2.style.display = "none";

  }
}
</script>

<h1>Data</h1>
<p></p>
<!-- This is the table with the data of the project -->
    <table id="pythonData" class="table table-striped">
        <thead>
          <!-- Headings of the Columns-->
          <tr>
            <th>Data</th>
            <th>Value</th>
            <th>Auth Tokens</th>
            <th>Manage Data</th>
          </tr>
        </thead>
        <!-- Loop through the data and display them -->
        <tbody>
          {% for data in datas %}
            <tr>
              <td>{{ data.name }}  </td>
              <td>{{ data.dataJson }}</td>
              <td>
                  <!-- Loop through the auth tokens and display them -->
                  {% for token in data.authTokens %} 
                    {{token.id}}, {{token.tokenType}}<p></p>
                  {% endfor %}
              </td>
              <td>
                <form action="/admin/data/{{data.id}}/delete" method="POST" style="display: inline;">
                  <input type="submit" class="btn btn-danger btn" value="Delete">
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}

