{% extends 'admin_layout.html' %}
    
{% block body %}


    <h1>Projects</h1>
    <!-- Create a table -->
    <table id="projects" class="table table-striped">
        <thead class="thead thead-dark">
          <!-- Headings of the Columns-->
          <tr>
            <th>Project</th>
            <th>Description</th>
            <th>Manage Project</th>
          </tr>
        </thead>
        <tbody>
          <!-- Loop through the projects and display them -->
          {% for project in projects %}
            <tr>
              <td>{{ project.name }}  </td>
              <td>{{ project.description }}</td>
              <td>
                <form action="/admin/projects/{{ project.id }}/delete" method="POST" style="display: inline;">
                  <input type="submit" class="btn btn-danger btn" value="Delete">
                </form>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}

